<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matisse">

    <application>
        <activity android:name=".ui.SelectedPreviewActivity"></activity>
        <activity android:name=".ui.MatisseActivity" />
        <activity android:name=".ui.AlbumPreviewActivity" />
    </application>

</manifest>